header > section {
	display: flex;
	height: inherit;

	margin-left: auto;
}

header > section > input[type=search] {
	display: flex;
	flex-grow: 1;
	min-width: 80px;
	max-width: 200px;
	width: 100%;
	background-color: transparent;
	border: none;
}

header > section > button {
	color: #AAA;
	background: transparent;
	border: none;
}

header > section > button:hover {
	color: #FFF;
}


main {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-around;
	flex-grow: 1;
	min-width: 60%;
	width: 60%;

}


main > article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 20px 0px;
}

main > article > header {
	display: flex;

	padding: 0px 20px;
	color: #777;
	background-color: rgba(0,0,0,0.7);

	backdrop-filter: blur(5px);
}

main > article > header > a {
	font-family: source-sans-pro, sans-serif;
	text-decoration: none;
	color: #777;
}

main > article > p {
	display: flex;
	margin: 0px;
	padding: 10px 20px;
	color: #888;
	background-color: rgba(7,54,66,0.9);

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

main > article > footer {
	padding: 0px 20px;
	color: #777;
	background-color: rgba(0,0,0,0.7);
}

main > article > footer > p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}


main > footer {
	display: flex;
	justify-content: center;
}
main > footer > a {
	text-decoration: none;
	padding: 0.5em;
	background: rgba(0,0,0,0.7);
	color: #AAA;
}

main > footer > a.current_page {
	background: rgba(7,54,66,0.9);
	color: #AAA;
}

main > footer > a.special_page {
	margin: 0em 1em;
}

@media only screen and (max-width: 901px) {
	main {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: space-around;
		flex-grow: 1;
		min-width: 80%;
		width: 80%;
	}
}

@media only screen and (max-width: 601px) {
	main {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: space-around;
		flex-grow: 1;
		min-width: 100%;
		width: 100%;
	}

