main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

main > form {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	padding: 1em;
	right: 20%;
	color: #AAA;
	font-size: larger;
}

main > form > button {
	height: 2.5em;
	margin: 0.5em;
	color: #AAA;
	background-color: rgba(0,0,0,0.8);
	border: none;
	cursor: pointer;
}

main > form > input {
	height: 2.5em;
	margin: 0.5em;
	color: #AAA;
	padding: 0em 1em;
	background-color: rgba(0,0,0,0.8);
	border: none;
}

main > form > input::placeholder {
	color: #888;
}

@media only screen and (max-width: 601px) {
	main > form {
		right: auto;
	}
}
