.fuck { display: none;
}
html {
	height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	height: 100%;
	background-attachment: fixed, fixed;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-image: radial-gradient(circle at center, transparent, rgba(0,0,0,0.8)), url(  ../images/background.jpg);
}

body > header {
	z-index: 1;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 40px;
}

body > header > nav {
	display: flex;
	justify-content: space-between;
	height: inherit;
}

body > header > nav > ul {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: inherit;
	width: auto;
}

body > header > nav > ul > li {
	display: flex;
	align-items: stretch;
	height: inherit;
}

body > header a {
	height: inherit;
	font-family: source-sans-pro, sans-serif;
	text-decoration: none;
}


body > header a img#logo_white {
	display: none;
}
body > header a#logo:hover img#logo_grey {
	display: none;
}
body > header a#logo:hover img#logo_white {
	display: flex;
}

body > header .button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 16px;
	color: #AAA;
	cursor: pointer;
}

body > header > label {
	display: none;
	height: inherit;
}

body > header > label > a.menu-button {
	display: flex;
	width: 4em;
}

body > header > label > a.menu-button:hover span,
body > header > label > a.menu-button:focus span,
body > header > label > a.menu-button:active span {
	background: inherit;
}

body > header > label > a.menu-button > div.menu-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: inherit;
	width: inherit;
}

body > header > label > a.menu-button > div.menu-icon > span {
	display: flex;
	height: inherit;
	background-color: #AAA;
	width: 100%;
	height: 3px;
	transform: rotate(0deg);
	transition: all 250ms ease-in-out;
}

body > header > input[type=checkbox], header label {
	display:none;
}


.hover-black:hover {
	color:#fff !important;
	background-color: #000 !important
}



.display-container {
	position: relative;
}


.large {
	font-size: 24px;
}

body > footer {
	display: inline-flex;
	bottom: 0;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	height: 80px;
	width: 100%;
	background-image: linear-gradient(transparent, rgba(0,0,0,1));
}

body > footer > section {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

body > footer > section.policy img {
	height: 60px;
	margin-left: 20px;
}

body > footer > section.policy {
	flex-basis: 10%;
	flex-grow: 1;
}

body > footer > section.social {
	flex-basis: 90%;
	flex-grow: 5;
}

body > footer > section.social > ul {
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: auto;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body > footer > section.social > ul > li {
	display: flex;
	align-items: center;
	padding: 0px 30px;
	width: auto;
	height: 100%;
	color: #AAA;
	white-space:nowrap;
}

body > footer > section.social > ul > li > a {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50%;
	text-decoration: none;
	color: inherit;
}

body > footer > section.social > ul > li > a > p {

}

body > footer > section.social > ul > li:hover {
	color:#fff !important;
}



@media only screen and (max-width: 901px) {
	body > header {
		justify-content: space-between;
	}

	body > header > input[type=checkbox] {
		position: absolute;
		top: -9999px;
		left: -9999px;
		background:none;
	}
	body > header > input[type=checkbox]:focus{
		background:none;
	}
	body > header > label {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	body > header > input[type=checkbox]:checked ~ body > header > label > a > div.menu-icon > span:nth-child(1), body > header > label > a > div.menu-icon > span:nth-child(4) {
		opacity: 0;
	}
	body > header > input[type=checkbox]:checked ~ body > header > label > a > div.menu-icon > span:nth-child(2) {
		transform: rotate(45deg);
	}
	body > header > input[type=checkbox]:checked ~ body > header > label > a > div.menu-icon > span:nth-child(3) {
		transform: rotate(-45deg);
	}

	body > header > input[type=checkbox]:checked ~ nav {
		display: block;
	}

	body > header > input[type=checkbox]:checked ~ main section {
		display: none;
	}

	body > header > nav {
		display: none;
		position: fixed;
		top: 40px;
		right: 0px;
		padding: 0px;
		background-color: inherit;
		width: auto;
		height: auto;
		z-index: 99;
	}
	body > header > nav > ul {
		display: block;
		width: auto;
		height: auto;
	}
	body > header > nav > ul > li {
		height: 40px;
		padding: 0px;
	}
	body > header > nav > ul > li a {
		width: 100%;
		text-align: left;
	}

	body > footer {
		height: 60px;
	}

	body > footer > section.policy img {
		height: 40px;
	}

	body > footer > section.social > ul > li > a > p {
		display: none;
	}

	.hide-medium {
		display: none;
	}
}

@media only screen and (max-width: 601px) {
	body > footer > section.social > ul > li {
		padding: 0px 10px;
	}
	body > footer > section.policy img {
		display: none;
	}

}
